<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chart</title>
</head>

<body>
    <P>Edit your chats.
        <b> <%=chat._id%></P>
       </b>

        <p> This chat was send from :
            <b> <%=chat.from%> </b> to
            <b>  <%=chat.to %></b>
        </p>
        <form method="POST" action="/chats/<%= chat._id%>?_method=PUT">
            <textarea name="msg" cols="50" rows="6"><%= chat.msg %></textarea>
            <br>
            <br>
            <button>Edit</button>
        </form>
</body>

</html>